body, html {
    height: 100%;
    margin: 0;
}

#grid-container {
    max-width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item {
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    margin: 2px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
}

.grid-item:hover {
    background-color: #e74c3c;
}

