body, html {
    height: 100%;
    margin: 0;
}

#grid-container {
    max-width: 1000px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.grid-item {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    margin: 2px;
    width: calc(100% / 16 - 4px);
    height: calc(100% / 16 - 4px);
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.grid-item:hover {
    background-color: #e74c3c;
}

